antibody/zsh_plugins.sh

.DS_Store
.*.sw*
vim/undodir/*
_.*
vim/.netrwhist
vim/.VimballRecord
*.weechatlog
*.log
weechat_fifo*
emacs.d
bookmarks
ido.last
org-clock-save.el
result
.direnv
bin

# nixago: ignore-linked-files
/lefthook.yml
/.editorconfig
/.conform.yaml
/treefmt.toml
# nixago-auto-created: mdbook-build-folder
docs/build/**
