snippet mod "__MODULE__" i
__MODULE__
endsnippet

snippet stl "start_link expansion" i
start_link(${1})${2}
endsnippet

snippet sofo
:simple_one_for_one
endsnippet

snippet ofo
:one_for_one
endsnippet

snippet ofa
:one_for_all
endsnippet
