snippet . "Reference symbol" i
->{$1}
endsnippet

snippet - "Hash separator" i
 => 
endsnippet

snippet sub "sub generator" b
# $1
#
# Input : $2
# Output: $3

sub ${4:sub_name} {
    ${5:# body ....}
}
endsnippet
